<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NDNU_CIS261_OODesign/src/hw1/PersonDogDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hw1.PersonDogDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NDNU_CIS261_OODesign"/>
</launchConfiguration>
